<!DOCTYPE html>
<html>
<head>
    <title>Adminmenu</title> <!-- Sets the title of the webpage -->
    <link rel="stylesheet" type="text/css" href="adminhomepage.css"> <!-- Imports an external CSS file to style the webpage -->
</head>
<body>
    <header> <!-- Defines a header section for the webpage -->
        <div class="logo"> <!-- Creates a div for the logo -->
            <img src="https://tinypic.host/images/2023/03/26/traffic-management-system-logo.png" alt="Your Logo"> <!-- Sets an image source for the logo and provides an alternate text description -->
        </div>
        <div class="topic"> <!-- Creates a div for the menu button and header title -->
            <h1>&nbsp Menu</h1> <!-- Sets the header title with a non-breaking space -->
            <button class="profile-button">Profile</button> <!-- Creates a button for the user profile -->
        </div>
    </header>
<aside> <!-- Defines a sidebar section for the webpage -->
    <div class="sidebar"> <!-- Creates a div for the sidebar -->
        <h2> Menu </h2> <!-- Sets a heading for the sidebar -->
        <button>KYC Verification</button> <!-- Creates a button for KYC verification -->
        <button>Fine List</button> <!-- Creates a button for the fine list -->
    </div> 
</aside>
<main> <!-- Defines a main section for the webpage -->
    <h1>Welcome to  Traffic management system</h1> <!-- Creates a heading for the main section -->
</main>
</body>
</html>