/* Import the Roboto Slab font from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400');

/* Set the default font family and weight for all elements */
* {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}

/* Main image styles */
.main img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 25%;
    height: 32%;
}

/* Form container styles */
form {
    background-color: #037DED;
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 72%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Label styles */
label {
    margin-top: 10px;
}

/* Heading 2 (h2) styles */
h2 {
    font-size: 180%;
    color: white;
    padding-inline: 5%;
    text-align: center;
    margin-bottom: 20px;
    margin-bottom: 1px;
}

/* Heading 4 (h4) styles */
h4 {
    color: white;
}

/* Text input and password input styles */
input[type="text"],
input[type="password"] {
    padding: 10px;
    margin: 10px 0;
    padding: 5px;
    width: 50%;
    border: none;
    border-radius: none;
}

/* Label text color */
label {
    color: white;
}

/* Button hover effect */
button:hover {
    background-color: #666;
}

/* Button styles */
button {
    background-color: #C01C58;
    border: none;
    border-radius: none;
    padding-block: 6px;
    margin-top: 10px;
    color: white;
}