<!DOCTYPE html> 
<html>  <!-- This line creates the HTML document. -->
    
<head>  <!-- This section defines the head of the HTML document. It sets the title of the webpage and imports an external CSS file to style the webpage. -->
    <title>KYCverification</title>
    <link rel="stylesheet" type="text/css" href="KYCverification.css">
</head>


<body>  <!-- This line starts the body of the HTML document. -->

    
    <header>   <!-- This section creates a header section for the webpage. 
        It contains a div for the logo, a div for the menu button and header title, and a button for the user profile. -->
        <div class="logo">
            <img src="https://tinypic.host/images/2023/03/26/traffic-management-system-logo.png" alt="Your Logo">
        </div>
        <div class="topic">
            <h1>&nbsp Menu</h1>
            <button class="profile-button">Profile</button>
        </div>
    </header>

<aside><!-- This section defines a sidebar section for the webpage. It contains a div for the sidebar, a heading for the sidebar, 
        and buttons for KYC verification and the fine list. -->
    <div class="sidebar">
        <h2> Menu </h2>
        <button>KYC Verification</button>
        <button>Fine List</button>
    </div> 
</aside>


<main>         <!--This section defines a main section for the webpage. It contains a div for the buttons in the main section and buttons for traffic staff and driver. -->
    <div class="buttons">
       
        <button>Traffic Staff</button>
        <button>Driver</button>
    </div>
</main>

</body> <!--This line ends the body of the HTML document and the HTML document itself. -->
</html>